/* ------------------------ *\
	Theme Overrides
\* ------------------------ */

p {
	font-size: 18px;
	line-height: 1.5em;
}

img.shadow {
	-webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.2); 
	box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.2);
}

.banner-area {
	height: fit-content;
	background-size: cover !important;
}

/* ------------------------ *\
	Custom Text
\* ------------------------ */

#main-banner-subtitle {
	font-size: 16px;
	line-height: 24px;
}

.banner-title {
	margin-top: 15vh;
}

.card-footer > h5 {
	color: white;
}

.card-footer > p > small {
	color: white;
}

.card-footer > a {
	color: white;
	background-color: #d82a4e;
	padding: 4px 16px;
}

#post-body > p {
    font-family: 'Lato', 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.75em;
    font-weight: 100;
    margin-bottom: 16px;
    margin-top: 8px;
}

#post-body > h3 {
	margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto', 'Rubik', sans-serif;
    font-size: 26px;
    font-weight: 500;
}

#post-body > h5 {
	margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto', 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#post-body > ol > li {
	font-family: 'Lato', 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.75em;
    font-weight: 100;
    margin-bottom: 16px;
    margin-top: 8px;
    color: #656565;
}

#post-body > img {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 48px;
	margin-bottom: 48px;
	-webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.5); 
	box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.5);
}

#post-body > p > img {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 48px;
	margin-bottom: 48px;
	-webkit-box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.5); 
	box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 575px) {
	.banner-title {
		margin-top: 0px;
	}
}

/* ------------------------ *\
	Custom Divs
\* ------------------------ */

.icon-box > i {
	font-size: 64px;
}

.image-box {
	background: white;
	-webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.2); 
	box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.2);
}

.image-box > .image-box-image {
	width: 100%;
	height: 175px;
	background-size: cover;
}

.image-box > .image-box-info {
	padding: 16px;
}

.image-box-edge {
	background: white;
	-webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.2); 
	box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.2);
	margin-top: 8px;
	margin-bottom: 8px;
}

.image-box-edge > .image-box-image {
	width: 100%;
	height: 175px;
	background-size: cover;
}

.image-box-edge > .image-box-info {
	padding: 16px;
}

.image-box-edge > .image-box-info > p {
	font-size: 17px;
}

.background-card {
	width: 100%;
	padding-top: 56.25%;
	position: relative;
	background-size: cover;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 8px;
}

.card-overlay {
	position: absolute;
	border-radius: 8px;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000',GradientType=0);
}

.card-overlay > .card-footer {
	bottom: 0px;
    position: absolute;
    color: white;
    padding: 24px;
}


.gray-box {
	background-color: hsl(0, 0%, 97.5%);
	padding: 32px;
	border-radius: 8px;
	border-bottom: 3px solid hsl(0, 0%, 80%);
}

@media only screen and (max-width: 575px) {

	.image-box {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	.icon-box {
		margin-top: 32px;
		margin-bottom: 32px;
	}
}

/* ------------------------ *\
	Custom Rows
\* ------------------------ */

.theme-row {
	background-color: #222324;
}
